#invoicing_settings {

  #invoicing_settings_description_formats {
    table {
      margin-bottom: 16px;

      td.format {
        width: 50%;
      }
    }
  }

  span.invoice_generator_pattern_preview {
    margin-left: 15px;
    background: #fffcd9;
    border: 1px solid #e7d898;
    padding: 4px 10px;
    border-radius: 3px;
  }

  div.generator_patterns_and_counters {
    background:#f1f1f1;
    padding: 8px 20px;
    zoom: 1;
    overflow: hidden;
  }

  ul.invoice_generator_variables {
    list-style: none;
    margin: 0px 40px 0px 0px;
    padding: 0px;
    color: #999;
    font-size: 11px;
    line-height: 110%;
    float: left;
    width: 275px;

    li {
      margin: 6px 0px;
    }

    a {
      font-weight: bold;
      cursor: pointer;
    }

    strong {
      color: #333;
    }
  }

  input.invoice_generator_pattern_input {
    width: 400px;
  }

}