.homescreen_widget {
	margin: 0 0 2em 0 !important;
}

.homescreen_widget .note, .homescreen_widget .messages {
	border: 1px solid #efefef;
	border-radius: 0.8em;
	padding: 0.8em;
	margin: 0;
	white-space: normal;
}

.homescreen_widget .note h3, .homescreen_widget .messages h3 {
	background: none !important;
}

.homescreen_widget .note {
	font-family: Andale Mono, monospace;
	white-space: pre-wrap;
	background-color: #FFFACD;
}

.homescreen_widget .trick {
	background-color: #FFEFDB;
}

.homescreen_widget .inspiration {
	background-color: #FFF0FF;
}

.homescreen_widget .text {
	
}

#message_schedule {
	width: 100%;
}
#message_schedule td {
	white-space: nowrap;
}
#message_schedule td.message {
	width: 90%;
}
#message_schedule tr td input.title {
	width: 99%;
}