#tax_rates {

  table {
    tr {
      th {
        &.tax_rate {
          text-align: right;
        }
      }

      td {
        &.percentage {
          text-align: right;
        }
      }
    }
  }
}