#page_action_make_invoice a {
  background-image: url(assets/images/invoicing/default/icons/12x12/invoice.png);
}

#inspector_object_action_make_invoice a {
  background-image: url(assets/images/invoicing/default/icons/12x12/invoice.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 32px;
}

#page_action_invoices a {
  background-image: url(assets/images/invoicing/default/icons/12x12/invoice.png);
}

#object_quick_option_view_invoice_pdf a {
  background-image: url(assets/images/environment/default/icons/12x12/pdf.png);
}

#object_quick_option_issue_invoice a {
  background-image: url(assets/images/invoicing/default/icons/12x12/issue-invoice.png);
}

#object_quick_option_duplicate_invoice a {
  background-image: url(assets/images/invoicing/default/icons/12x12/duplicate-invoice.png);
}

#object_quick_option_cancel_invoice a {
  background-image: url(assets/images/invoicing/default/icons/12x12/cancel-invoice.png);
}

#object_quick_option_invoice_time_records a {
  background-image: url(assets/images/invoicing/default/icons/12x12/invoice-time-records.png);
}

/*******************************************************************************
  Invoices
*******************************************************************************/

#invoice_details table.items td {
  background: #f6f6f6;
  border-top: 1px solid #FFF;
  padding: 7px 9px !important;
  color: #333;
}

#invoice_details table.items thead td {
  background: none;
  border-bottom: 0px;
  font-weight: normal;
  color: #777;
  font-size: 10px;
  padding: 7px 9px !important;
}

#invoice_details table.items tfoot td.label {
  background: none;
  border-bottom: 0px;
  text-align: right;
  font-size: 10px;
  color: #aaa;
}

#invoice_details table.items tfoot td.value {
  background: #eee;
  text-align: right;
  font-weight: bold;
  padding-right: 15px !important;
}

#invoice_details table.items tfoot td.value.total {
  background: #e3e3e3;
}

#invoice_details table.items thead td.unit_cost,
#invoice_details table.items tbody td.unit_cost{
  width: 80px !important;
  text-align: right;
}

#invoice_details table.items thead td.total,
#invoice_details table.items tfoot td.total,
#invoice_details table.items tbody td.total {
  padding-right: 15px !important;
  width: 80px !important;
  text-align: right;
}

#invoice_details table.items thead td.tax_rate,
#invoice_details table.items tbody td.tax_rate{
  width: 50px;
  text-align: right;
}

#invoice_details table.items thead td.quantity,
#invoice_details table.items tbody td.quantity{
  width: 50px;
  text-align: right;
}

#invoice_details table.items thead td.num,
#invoice_details table.items tbody td.num {
  padding-left: 15px !important;
  text-align: right;
  width: 30px;
  color: #bbb;
  padding-right: 0px !important;
}

.invoice_note .object_section_content {
  color: #666;
  font-size: 11px;
}

/*******************************************************************************
  Invoice details
*******************************************************************************/

#invoice_details table.items th, #invoice_details table.items td {
  padding: 5px;
  font-size: 11px;
}

#invoice_details table.items td.num {
  width: 10px;
}

#invoice_details table.items th.quantity, #invoice_details table.items td.quantity, 
#invoice_details table.items th.unit_cost, #invoice_details table.items td.unit_cost,
#invoice_details table.items th.tax_rate, #invoice_details table.items td.tax_rate {
  text-align: center;
  width: 60px;
}

#invoice_details table.items th.total, #invoice_details table.items td.total {
  text-align: right;
  width: 100px;
}

#invoice_details dl.invoice_summary {
  font-size: 11px;
  margin-top: 12px;
}

#invoice_details dl.invoice_summary dt, #invoice_details dl.invoice_summary dd {
  padding: 5px;
  border-bottom: 1px dotted #ddd;
}

#invoice_details dl.invoice_summary dt {
  float: left;
  width: 600px;
  text-align: right;
}

#invoice_details dl.invoice_summary dd {
  overflow: hidden;
  text-align: right;
}

#invoice_details dl.invoice_summary dt.total_cost, #invoice_details dl.invoice_summary dd.total_cost {
  font-weight: bold;
}


/*******************************************************************************
  Invoice Form
*******************************************************************************/

/*
#invoice_form_head {
}

#invoice_form_head .col {
  width: 200px !important;
}

#invoice_form_head .col input,
#invoice_form_head .col select {
  width: 190px;
}

#invoice_form_head #invoiceDueOn {
  padding: 4px 0 0 18px;
}

#invoice_client {
  width: 378px !important;
  float: right;
  margin-right: 0px;
  zoom: 1;
  overflow: visible;
}

#invoice_client table {
  float: right;
}

#invoice_client #companyAddress {
  width: 242px !important;
  height: 92px !important;  
}
*/

form.big_form .invoice_form .form_second_sidebar {
  /*left: 0px !important;*/
  left: 769px !important;
  border-left: 1px solid #E8E8E8;
}

form.big_form .invoice_form .main_form_column {
  width: 729px !important;
  /*left: 230px !important;*/
  left: 0px !important;
  border-right: 0px !important;
  /*bottom: 159px !important;*/
  bottom: 134px !important;
  overflow-x: visible !important;
}

form.big_form .invoice_form .form_sidebar_two_controls {
  zoom: 1;
  overflow: hidden;
}

form.big_form .invoice_form .form_sidebar_two_controls .control_holder {
  width: 48%;
  float: left;
}

form.big_form .invoice_form .form_sidebar_two_controls .control_holder.secondHolder {
  float: right;
}

form.big_form .invoice_form .companyAddressContainer {
  margin-top: -5px;
  padding-top: 0px;
}

.invoice_client_address textarea {
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70px;
  border: 1px solid #ccc;
  width: 210px;
}

.invoice_client_address textarea#companyAddress.loading {
  background-image: url(assets/images/environment/default/layout/bits/indicator-loading-normal.gif);
}

#add_invoice #autogenerateID .field_wrapper,
#edit_invoice #autogenerateID .field_wrapper {
  padding-top: 1px;
  color: #999;
}


#add_invoice #invoiceNumberGenerator a,
#edit_invoice #invoiceNumberGenerator a {
  font-size: 10px;
  margin-left: 10px;
  font-weight: bold;
}

#add_invoice #invoiceNumberGenerator input,
#edit_invoice #invoiceNumberGenerator input {
  width: 100px;
}

#add_invoice div.form_sidebar_two_controls div.select_date input,
#edit_invoice div.form_sidebar_two_controls div.select_date input {
  width: 100%;
}

/*******************************************************************************
  Recurring Profile Form
*******************************************************************************/

/*form.big_form .recurring_profile_form .form_second_sidebar {*/
  /*left: 0px !important;*/
/*}*/

/*form.big_form .recurring_profile_form .main_form_column {*/
  /*width: 729px !important;*/
  /*left: 230px !important;*/
  /*border-left: 1px solid #E8E8E8;*/
  /*border-right: 0px !important;*/
/*}*/

form.big_form .recurring_profile_form .form_sidebar_two_controls {
  zoom: 1;
  overflow: hidden;
}

form.big_form .recurring_profile_form .form_sidebar_two_controls .control_holder {
  width: 48%;
  float: left;
}

form.big_form .recurring_profile_form .form_sidebar_two_controls .control_holder.secondHolder {
  float: right;
}

form.big_form .recurring_profile_form .companyAddressContainer {
  margin-top: -5px;
  padding-top: 0px;
}

.recurring_profile_client_address textarea#companyAddress.loading {
  background-image: url(assets/images/environment/default/layout/bits/indicator-loading-normal.gif);
}

#recurring_profile_items {
  overflow: visible !important;
  margin-top: -2px;
}

#recurring_profile_items table th, #recurring_profile_items table td {
  padding: 7px 5px;
  font-size: 11px;
}

#recurring_profile_items table th {
  border-bottom: 1px dotted #ccc;
}

#recurring_profile_items table td input, #recurring_profile_items table td select {
  font-size: 11px;
}

#recurring_profile_items table td.num {
  width: 30px;
  font-size: 11px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: right;
}

#recurring_profile_items table td.description input {
  width: 280px;
}

#recurring_profile_items table input,
#recurring_profile_items table select {
  border: 1px solid #ccc;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  box-shadow:inset 0 1px 1px #eee;
  padding: 3px 4px;
  background: #FFF;
}

#recurring_profile_items table select {
  padding: 2px 0px;
}


#recurring_profile_items table th.quantity, #recurring_profile_items table th.unit_cost, #recurring_profile_items table th.tax_rate, #recurring_profile_items table th.total,
#recurring_profile_items table td.quantity, #recurring_profile_items table td.unit_cost, #recurring_profile_items table td.tax_rate, #recurring_profile_items table td.total {
  width: 100px;
  text-align: right;
}

#recurring_profile_items table .invoice_totals  td.total {
  width: auto !important;
}


#recurring_profile_items table td.quantity input,
#recurring_profile_items table td.total input,
#recurring_profile_items table td.unit_cost input {
  width: 80px;
  text-align: right;
}

#recurring_profile_items table td.tax_rate select {
  width: 80px;
}

#recurring_profile_items table th.total, #recurring_profile_items table td.total {
  text-align: right;
}

#recurring_profile_items table td.options {
  width: 36px;
  text-align: right;
}

#recurring_profile_items table tr.subtotal td.total {
  font-size: 11px;
  color: #666;
}

#recurring_profile_items table tr.total td.total {
  font-weight: bolder;
  text-align: right;
}

#recurring_profile_items .button_add {
  margin-right: 10px;
}

#recurring_profile_items .move_handle {
  display: none;
  cursor: pointer;
}

#recurring_profile_items .recurring_profile_subtotal td,
#recurring_profile_items .recurring_profile_total td {
  text-align: right;
  font-weight: bold;
  background: none;
  border: 0px;
}

#recurring_profile_items .invoice_subtotal td {
  border-top: 1px dotted #ccc;
}

#recurring_profile .skipped_profiles_wrapper {
  margin-top: 20px;
}

#recurring_profile .skipped_profiles_table {
	background-color: #ffffff;
	width: 650px;
	border: 1px solid #dddddd;
	padding: 0 10px;
	color: #666666;
	margin: 20px auto 0 auto;
	border-radius: 7px;
}
#recurring_profile .skipped_profiles_table tr {
	border-bottom: 1px solid #000000; 
}
#recurring_profile .skipped_profiles_table td {
	border-bottom: 1px solid #dddddd;
	padding: 4px 0 4px 0;
	vertical-align: middle;
}

#recurring_profile .skipped_profiles_table tr:last-child td {
  border: none;
}

#recurring_profile .skipped_profiles_table td.name {
	color: #000000; 
}

/*******************************************************************************
  Tax rates admin
*******************************************************************************/

#taxrates table {
  width: auto !important;
  margin-bottom: 30px;
}

#taxrates table th, #taxrates table td {
  padding: 5px;
}

#taxrates table td.name {
  width: 250px;
}

#taxrates table td.percentage {
  width: 80px;
}

/*******************************************************************************
  Invoice item templates
*******************************************************************************/

#invoice_item_templates_list td.move_handle img {
  cursor: move;
}

#quotes div.object_body, #invoices div.object_body {
  display: none;
}

/*******************************************************************************
  Send Quote
*******************************************************************************/

#send_quote form {
  margin-bottom: 16px;
}

/*******************************************************************************
  Quotes Related
*******************************************************************************/

table.quotes tr.won td {
  background: #E9FDEB !important;
}

table.quotes tr.lost td {
  background: #FFE9E9 !important;
}

.won_lost_status {
	margin: 20px 0px;
}

.won_lost_status ul {
	list-style: none;
	padding: 0px;
}

.won_lost_status li {
	display: inline;
	margin-right: 5px;
}

button.lost {
	background-color: #D45151 !important;
	border-color: #5D0909;
	color: white !important;
	font-weight: bold;
	text-shadow: #6C1919 0px 1px 0px !important;
}

button.won {
	background-color: #27BE03 !important;
	border-color: darkgreen;
	color: white !important;
	font-weight: bold;
	text-shadow: darkgreen 0px 1px 0px !important;
}

button.lost span, button.won span {
	padding: 0px 10px;
}

/*******************************************************************************
  Recurring profile
*******************************************************************************/

#resolve_approval_request {
	
}

#resolve_approval_request .resolve_form {
	margin-left: 20px;
}

#resolve_approval_request .resolve_form label {
	float: left;
	margin-right: 10px;
}
#resolve_approval_request .resolve_form #archive_it {
	float: left;
	margin-right: 5px;
	margin-top: 6px;
}

.remove_invoice_background {
  color: #666;
  font-weight: bold;
}

.remove_invoice_background img {
  margin-right: 5px;
  vertical-align: text-bottom;
}

/*******************************************************************************
  Invoice Overdue Reminders
*******************************************************************************/

#invoice_overdue_reminders .select_all_companies + label {
  font-weight: bold;
}

#invoice_overdue_reminders .dont_send_to {
  padding-top: 7px;
}

/*******************************************************************************
  List Financial Managers
*******************************************************************************/

div#list_financial_managers {
  margin: 5px 20px;
}