/* nyroModal - colors and images */
div#nyroModalFull {
	font-size: 12px;
	color: #fff;
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
}

div#nyroModalFull div#nyroModalLoading {
	border: 2px solid #ECEAD0;
	width: 150px;
	height: 150 px;
	text-indent: -9999em;
	background: #fff url(modules/lightbox/images/nyroloader.gif) no-repeat;
	background-position: center;
}

div#nyroModalFull div#nyroModalWrapper {
	background: #fff;
	border: 2px solid #ECEAD0;
}

div#nyroModalFull div#nyroModalWrapper a#closeBut {
	position: absolute;
	display: block;
	top: -15px;
	right: -15px;
	width: 15px;
	height: 15px;
	text-indent: -9999em;
	background: url(modules/lightbox/images/nyroclose.gif) no-repeat;
	outline: 0;
}

div#nyroModalFull div#nyroModalWrapper h1#nyroModalTitle {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -22px;
	left: 5px;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalPrev:hover
	{
	background: url(modules/lightbox/images/nyroprev.gif) left 20% no-repeat;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalNext:hover
	{
	background: url(modules/lightbox/images/nyronext.gif) right 20%
		no-repeat;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalPrev
	{
	left: 0;
	width: 40%;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalNext
	{
	right: 0;
	width: 40%;
}

/* nyroModal - nothing to edit here */
div#nyroModalFull div#nyroModalLoading.error {
	border: 4px solid #f66;
	line-height: 20px;
	padding: 20px;
	width: 300px;
	height: 100px;
	text-indent: 0;
	background: #fff;
}

div#nyroModalFull div#nyroModalWrapper div.wrapper div#nyroModalContent
	{
	padding: 5px;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent
	{
	position: relative;
	overflow: hidden;
	text-align: center;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent img
	{
	vertical-align: baseline;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div
	{
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	padding: 10px;
	margin: 10px;
	border: 1px white dotted;
	overflow: hidden;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	display: none;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div:hover
	{
	opacity: 0.5;
	filter: alpha(opacity = 50);
	cursor: help;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a
	{
	outline: none;
	position: absolute;
	top: 0;
	height: 100%;
	cursor: pointer;
	text-indent: -9999em;
	background-image: url(data:image/gif;base64,AAAA); /* Trick IE6 */
}