{label}Select message type{/label}
<div>{radio_field name="homescreen_widget[extended]" value="inspiration"
pre_selected_value=$widget_data.extended label="Inspiration"}</div>
<div>{radio_field name="homescreen_widget[extended]" value="trick"
pre_selected_value=$widget_data.extended label="Tips"}</div>
