<div id="empty_slate_time_expenses" class="empty_slate">
  <h3>{lang}About Time and Expenses{/lang}</h3>

  <ul class="icon_list">
    <li>
      <img src="{image_url name="icons/32x32/time-entry.png" module=$smarty.const.TRACKING_MODULE}" class="icon_list_icon" alt="" />
      <span class="icon_list_title">{lang}Time Records{/lang}</span>
      <span class="icon_list_description">{lang}Use time records to track how much time you have spent working on this project. Time can be tracked directly for the project from this page, or on a task level via a timer widget that is available on the task details page{/lang}.</span>
    </li>

    <li>
      <img src="{image_url name="icons/32x32/expense.png" module=$smarty.const.TRACKING_MODULE}" class="icon_list_icon" alt="" />
      <span class="icon_list_title">{lang}Expenses{/lang}</span>
      <span class="icon_list_description">{lang}Track expenses to know how much you have additionaly spent on this project, apart from the tracked time. This feature is great for tracking travel expenses, material costs, hosting and domain names and all other, non-time project expenses{/lang}.</span>
    </li>

    <li>
      <img src="{image_url name="empty-slates/help.png" module=$smarty.const.ENVIRONMENT_FRAMEWORK}" class="icon_list_icon" alt="" />
      <span class="icon_list_title">{lang}Track Time with activeCollab Timer{/lang}</span>
      <span class="icon_list_description">{lang}<a href="http://blankrefer.com/?https://www.activecollab.com/timer.html">activeCollab Timer</a> is a free application which automatically tracks time while you are working on your tasks and projects. It will run in the background and keep track of how much time you spend working on each task. When you are done, click on the Submit button and the activeCollab Timer will automatically create a time record in your activeCollab system. The Timer application is available for Windows, Mac and Linux{/lang}.</span>
    </li>
  </ul>
</div>