div.invoice_paper {
  width: 668px;
  margin: 20px auto 0px;
  position: relative;
}

div.invoice_paper div.invoice_comment {
  width: 377px;
  height: 146px;
  background: url(assets/images/invoicing/default/layout/invoice-comment.png) no-repeat left top;
  position: absolute;
  right: -25px;
  top: -5px;
}

div.invoice_paper div.invoice_comment span.property_invoice_comment {
  display: block;
  padding: 40px 40px;
}

div.invoice_paper div.invoice_comment span.invoice_comment_paperclip {
  display: block;
  width: 95px;
  height: 30px;
  float: right;
  margin: 25px 0px 0px 0px;
}

div.invoice_paper div.invoice_paper_top {
  height: 4px;
  background: url(assets/images/invoicing/default/layout/invoice-paper-top.png) no-repeat center top;
  position: relative;
  z-index: 1;
}

div.invoice_paper div.invoice_paper_center {
  background: url(assets/images/invoicing/default/layout/invoice-paper-tile.png) repeat-y center top;
  padding: 1px 0px;
  position: relative;
  z-index: 1;
}

div.invoice_paper div.invoice_paper_bottom {
  background: url(assets/images/invoicing/default/layout/invoice-paper-bottom.png) no-repeat center top;
  height: 19px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

div.invoice_paper div.invoice_paper_area {
  min-height: 750px;
  margin: 19px 24px 19px 23px;
}

div.invoice_paper div.invoice_paper_area div.invoice_paper_logo {
  height: 86px;
}

div.invoice_paper div.invoice_paper_header {
  zoom: 1;
  overflow: hidden;
  padding-top: 20px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_details {
  width: 272px;
  float: left;
  margin-left: 30px;
  margin-top: 0px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_details h2 {
  margin: 0px 0px 25px;
  padding: 0px;
  font-weight: bold;
  font-size: 18px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_details ul {
  color: #666;
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 16px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_client {
  width: 252px;
  background: #fff url(assets/images/invoicing/default/layout/invoice-paper-client-address-top.png) no-repeat left top;
  float: right;
  margin-right: 30px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_client div.invoice_paper_client_inner {
  background: url(assets/images/invoicing/default/layout/invoice-paper-client-address-bottom.png) no-repeat left bottom;
  min-height: 30px;
  padding: 15px 20px;
  color: #666;
  line-height: 16px;
}

div.invoice_paper div.invoice_paper_header div.invoice_paper_client div.invoice_paper_client_name {
  margin-bottom: 11px;
}

div.invoice_paper div.invoice_paper_client_inner span.client_save_data {
  display: block;
  float: right;
  margin-top: -15px;
  margin-right: -10px;
}

div.invoice_paper div.invoice_paper_items {
  padding: 30px 30px 0px;
}

div.invoice_paper div.invoice_paper_items table {
  width: 100%;
  table-layout: fixed;
}

div.invoice_paper div.invoice_paper_items table td {
  padding: 5px 5px;
}

div.invoice_paper div.invoice_paper_items table thead td {
  font-weight: bold;
  color: #000;
  padding-bottom: 7px;
  overflow: hidden;
}

div.invoice_paper div.invoice_paper_items table thead td:last-child {
  width: 70px;
}

div.invoice_paper div.invoice_paper_items table tbody tr:first-child td {
  border-top: 1px solid #EBEDE6;
  padding-top: 7px;
}

div.invoice_paper div.invoice_paper_items table tbody tr:last-child td {
  border-bottom: 1px solid #EBEDE6;
  padding-bottom: 7px;
}

div.invoice_paper div.invoice_paper_items table td.num {
  text-align: right;
  padding-left: 0px;
  width: 23px;
  color: #999;
}

div.invoice_paper div.invoice_paper_items table td.description {
  word-wrap: break-word;
}

div.invoice_paper div.invoice_paper_items table td.unit_cost,
div.invoice_paper div.invoice_paper_items table td.quantity,
div.invoice_paper div.invoice_paper_items table td.subtotal,
div.invoice_paper div.invoice_paper_items table td.total {
  text-align: right;
  width: 70px;
}

div.invoice_paper div.invoice_paper_items table td.tax_rate {
  text-align: right;
  width: 40px;
}

div.invoice_paper div.invoice_paper_items table td.tax_amount {
  text-align: right;
  width: 60px;
}


div.invoice_paper div.invoice_paper_items table td.quantity {
  text-align: right;
  width: 55px;
}

/*div.invoice_paper div.invoice_paper_items table td.tax_rate {*/
  /*width: 85px;*/
  /*text-align: right;*/
/*}*/

div.invoice_paper div.invoice_paper_items table td.tax_rate_money {
  width: 60px;
  text-align: right;
}

div.invoice_paper div.invoice_paper_items table tfoot td {
  color: #000;
}

div.invoice_paper div.invoice_paper_items table tfoot tr:first-child td {
/*  border-top: 1px solid #ddd;*/
  padding-top: 7px;
}

div.invoice_paper div.invoice_paper_items table tfoot tr td.label {
  text-align: right;
  font-weight: bold;
  padding-right: 15px;
}

div.invoice_paper div.invoice_paper_items table tfoot td.value {
  text-align: right;
}

div.invoice_paper div.invoice_paper_items table tfoot tr.total td {
  border-bottom: 1px solid #EBEDE6;
}

div.invoice_paper div.invoice_paper_items table tfoot tr.total td.value {
  background: #f1f1f1;
  color: #950000;
  font-weight: bold;
}

div.invoice_paper div.invoice_paper_items table tfoot tr.amount_paid td {
  padding-top: 7px;
}

div.invoice_paper div.invoice_paper_items table tfoot tr.balance_due td {
  border-bottom: 1px solid #EBEDE6;
}

div.invoice_paper div.invoice_paper_items table tfoot tr.balance_due td.value {
  background: #f1f1f1;
  color: #950000;
  font-weight: bold;
}

div.invoice_paper div.invoice_paper_notes {
  padding: 20px 30px 30px 30px;
  line-height: 18px;
}

div.invoice_paper div.invoice_paper_notes h3 {
  font-size: 11px;
  font-weight: bold;
}

div.invoice_paper.invoice_draft div.invoice_paper_area {
  background: url(assets/images/invoicing/default/layout/invoice-paper-draft.png) repeat left top;
  border-bottom: 1px solid #f3f3f3;
}

div.invoice_paper.invoice_draft div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/invoice-paper-logo-draft.png) no-repeat 10px center;
}

div.invoice_paper.invoice_draft div.invoice_paper_peel_draft {
  width: 127px;
  height: 159px;
  background: url(assets/images/invoicing/default/layout/invoice-paper-peel-draft.png) no-repeat center center;
  position: absolute;
  bottom: 19px;
  right: 4px;
  z-index: 2;
}

div.invoice_paper.invoice_draft .invoice_created_on {
  display: block;  
}

div.invoice_paper.invoice_draft .invoice_issued_on,
div.invoice_paper.invoice_draft .invoice_due_on,
div.invoice_paper.invoice_draft .invoice_paid_on,
div.invoice_paper.invoice_draft .invoice_closed_on {
  display: none;
}

div.invoice_paper.invoice_issued div.invoice_paper_area {
  background: #f7f8f4;
  border: 1px solid #ecedec;
}

div.invoice_paper.invoice_issued div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/invoice-paper-logo-issued.png) no-repeat 10px center;
}

div.invoice_paper.invoice_issued.invoice_overdue div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/invoice-paper-logo-overdue.png) no-repeat 10px center;  
}

div.invoice_paper.invoice_issued div.invoice_paper_header div.invoice_paper_client {
  background-color: transparent;
}

div.invoice_paper.invoice_issued div.invoice_paper_items table tfoot tr.total td.value {
  background: #ebede6; 
}

div.invoice_paper_wrapper.invoice_issued_wrapper {
  background: url(assets/images/invoicing/default/layout/invoice-paper-issued-letter.png) no-repeat center bottom;
}

div.invoice_paper_wrapper.invoice_issued.branding_removed_wrapper {
  background: url(assets/images/invoicing/default/layout/invoice-paper-issued-letter-branding-removed.png) no-repeat center bottom;
}

div.invoice_paper.invoice_issued .invoice_issued_on,
div.invoice_paper.invoice_issued .invoice_due_on {
  display: block;  
}

div.invoice_paper.invoice_issued .invoice_created_on,
div.invoice_paper.invoice_issued .invoice_paid_on,
div.invoice_paper.invoice_issued .invoice_closed_on {
  display: none;
}

div.invoice_paper.invoice_paid div.invoice_paper_area {
  background: #fbfff0 url(assets/images/invoicing/default/layout/invoice-paper-paid.png) repeat-y center top;
  border: 1px solid #ecedec;
}

div.invoice_paper.invoice_paid div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/invoice-paper-logo-paid.png) no-repeat 10px center;
}

div.invoice_paper.invoice_paid div.invoice_paper_header div.invoice_paper_client {
  background-color: transparent;
}

div.invoice_paper.invoice_paid div.invoice_paper_items table tfoot tr.total td.value {
  background: #e4e8d8; 
}

div.invoice_paper.invoice_paid div.invoice_paper_stamp_paid {
  width: 179px;
  height: 129px;
  background: url(assets/images/invoicing/default/layout/invoice-paper-stamp-paid.png) no-repeat center center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -90px;
  z-index: 2;
}

div.invoice_paper.invoice_paid .invoice_issued_on,
div.invoice_paper.invoice_paid .invoice_paid_on,
div.invoice_paper.invoice_paid .invoice_due_on {
  display: block;  
}

div.invoice_paper.invoice_paid .invoice_created_on,
div.invoice_paper.invoice_paid .invoice_closed_on {
  display: none;
}


div.invoice_paper.invoice_canceled div.invoice_paper_area {
  background: #fff url(assets/images/invoicing/default/layout/invoice-paper-canceled.png) repeat center top;
  padding: 20px 19px 20px 19px;
  margin: 0px 5px;
}

div.invoice_paper.invoice_canceled div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/invoice-paper-logo-canceled.png) no-repeat 10px center;
}

div.invoice_paper.invoice_canceled div.invoice_paper_header div.invoice_paper_client {
  background-color: transparent;
}

div.invoice_paper.invoice_canceled div.invoice_paper_items table tfoot tr.total td.value {
  background: #eee; 
}

div.invoice_paper.invoice_canceled div.invoice_paper_stamp_canceled {
  width: 170px;
  height: 142px;
  background: url(assets/images/invoicing/default/layout/invoice-paper-stamp-canceled.png) no-repeat center center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -75px;
  z-index: 2;
}

div.invoice_paper.invoice_canceled .invoice_issued_on,
div.invoice_paper.invoice_canceled .invoice_due_on,
div.invoice_paper.invoice_canceled .invoice_closed_on {
  display: block;  
}

div.invoice_paper.invoice_canceled .invoice_created_on,
div.invoice_paper.invoice_canceled .invoice_paid_on {
  display: none;
}

div.invoice_paper.recurring_profile div.invoice_paper_area {
  background: url(assets/images/invoicing/default/layout/invoice-paper-draft.png) repeat left top;
  border-bottom: 1px solid #f3f3f3;
}

div.invoice_paper.recurring_profile div.invoice_paper_area div.invoice_paper_logo {
  background: url(assets/images/invoicing/default/layout/recurring-profile-logo.png) no-repeat 10px center;
}

div.invoice_paper.recurring_profile div.invoice_paper_peel_draft {
  width: 127px;
  height: 159px;
  background: url(assets/images/invoicing/default/layout/invoice-paper-peel-draft.png) no-repeat center center;
  position: absolute;
  bottom: 19px;
  right: 4px;
  z-index: 2;
}

div#recurring_profile td.recurring_profile_name {
	
}

div#recurring_profile td.recurring_profile_attention_image {
	text-align: center;
  width: 20px;
}


div.invoice_paper li.invoice_currency {
  margin-bottom: 8px;
}


div.invoice_paper.quote_draft .quote_created_on {
  display: block;  
}

div.invoice_paper.quote_draft .quote_sent_on,
div.invoice_paper.quote_draft .quote_closed_on {
  display: none;
}

div.invoice_paper.quote_sent .quote_created_on,
div.invoice_paper.quote_sent .quote_sent_on {
  display: block;
}

div.invoice_paper.quote_sent .quote_closed_on {
  display: none;
}

div.invoice_paper.quote_won .quote_closed_on,
div.invoice_paper.quote_won .quote_sent_on,
div.invoice_paper.quote_lost .quote_closed_on,
div.invoice_paper.quote_lost .quote_sent_on {
  display: block;
}

div.invoice_paper.quote_won .quote_created_on,
div.invoice_paper.quote_lost .quote_created_on {
  display: none;
}

div.add_invoice_note {
	background: none repeat scroll 0 0 #F2F2F2;
}
div.add_invoice_note .note_form {
	padding: 10px 20px;
}

div.add_invoice_item {
	background: none repeat scroll 0 0 #F2F2F2;
}
div.add_invoice_item .item_form {
	padding: 10px 20px;
}

div.add_invoice_item .item_form textarea {
 width: 98%;
}
div.add_invoice_tax_rate {
	background: none repeat scroll 0 0 #F2F2F2;
}
div.add_invoice_tax_rate .tax_rate_form {
	padding: 10px 20px;
}

#invoices td.invoice_currency_code {
  width: 25px;
}

#invoices td.invoice_total {
  width: 80px;
  text-align: right;
  font-weight: bold;
}

#invoices td.invoice_name {
  width: 80px;
  color: #888;
  text-align: left;
}

#invoices td.invoice_company_name.overdue {
  color: red;
}

#invoices td.invoice_company_name img {
  margin-left: 3px;
  /*position: absolute !important;*/
  /*top: 1px;*/
}

#invoice_public_payment_info {
  margin: 20px;
}
#invoice_public_payment_info div.public_url {
  padding: 20px;
  background: none repeat scroll 0 0 #FAFAFA;
  border-top: 1px solid #EEEEEE;
}
