div#public_invoice_download {
  background-color: white;
  border: 1px solid #D5D7CF;
  border-radius: 7px;
  margin: auto;
  text-align: center;
  width: 500px;

  div.download_paid_invoice {
    h1 {
      font-size: 20px;
      margin: 50px;
      color: #545454;
    }

    div.invoice_thumbnail {
      margin-bottom: 50px;
    }

    div.invoice_download_footer {
      background-color: #EFEFEF;
      border-radius: 0  0 7px 7px;
      border-top: 1px solid #D5D7CF;
      padding: 20px 0;

      p {
        font-size: 15px;
        color: #545454;
        margin-bottom: 20px;
      }

      div.download_btn_container {
        button {
          font-size: 14px;
          height: 40px;
          width: 200px;
        }
      }
    }
  }
}

div#public_invoice {
  background-color: white;
  border: 1px solid #D5D7CF;
  border-radius: 7px;
  margin: auto;
  text-align: center;

  div.public_invoice_container {
    text-align: left;

    div.payments_gateway_types {
      float: left;
      overflow: parent;
      width: 280px;
      background-color: #EFEFEF;
      border-radius: 7px  0 0 0;
      border-right: 1px solid #D5D7CF;
      min-height: 950px;

      p {
        margin: 20px;
      }

      div.payment_gateway_type {
        padding: 5px 10px;
        &.selected {
          background-color: white;
          border-bottom: 1px solid #D5D7CF;
          border-top: 1px solid #D5D7CF;
          margin-right: -1px;
        }
        input[type=radio] {
          margin-right: 10px;
        }
      }

      div.invoice_thumb {
        margin: 50px 0;
        text-align: center;
      }

      div.invoice_info_block {
        margin: 0 60px;
        div.invoice_info_item {
          border-bottom: 3px solid #D5D7CF;
          margin-bottom: 10px;

          label {
            font-size: 13px;
            color: grey;
          }

          div.invoice_info_value {
            margin: 2px 0;
          }

        }
      }

    }

    div.payments_gateway_types_details {
      float: left;
      margin: 20px 50px;

      h3 {
        margin: 0 0 20px 0;
        font-weight: bold;
      }
      div.payment_gateway_options {
        margin-left: 10px;
      }
      div.payment_user_form {
        div.control_holder {

          input[type=text], input[type=number], input[type=email] {
            font-size: 11px;
            width: 280px;
          }
          textarea {
            font-size: 11px;
            width: 280px;
            height: 100px ;
          }
          label {
            display: block;
          }
        }
      }


    }
  }

  div.public_invoice_footer {
    background-color: #EFEFEF;
    border-radius: 0  0 7px 7px;
    border-top: 1px solid #D5D7CF;
    padding: 20px 0;
    clear: both;

    button {
      font-size: 14px;
      height: 40px;
      width: 200px;
    }
  }

}

div#public_invoice_details {
  height: 38px;
  line-height: 35px;

  span.title_image {
    float: left;
    margin-right: 5px;
  }
  div.name {
    h1 {

    }
  }
}

div.form_errors {
  border: 1px solid #ff725c;
  background-color: #ffd5bf;
  margin-bottom: 10px;
  padding-left: 10px;
  p {

  }
}
