#invoice_overdue_reminders {

  .escalation_messages {

    .escalation_message {
      width: 520px;
    }

    .options {
      padding-top: 8px;
      vertical-align: top;
    }

  }

  .escalation_button {
    margin-top: 5px;
  }

  div.default_or_specified_behavior {

    div.default_behavior {
      padding-top: 4px;
      color: #999;
    }

    div.specified_behavior {
      display: none;
    }

  }

}