#create_invoice_from_tracked_data {

  #tracked_data_sum_by_wrapper {
    position: relative;

    select {
      width: 250px;
    }

    img {
      position: absolute;
      right: 25px;
      top: 15px;
    }
  }

  #invoice_items_preview {
    table {
      display: none;

      td {

        &.num {
          width: 16px;
          color: #ccc;
          font-size: 90%;
        }

        &.quantity, &.unit_cost {
          width: 75px;
        }

        &.first_tax_rate, &.second_tax_rate {
          width: 110px;

          select {
            width: 95px;
          }
        }

      }
    }

    p.loading_indicator {
      text-align: center;

      img {
        position: relative;
        top: 3px;
      }
    }
  }

  #invoice_items_settings {
    margin: 10px 0 4px 0;
    padding: 0 0 0 20px;
    height: 20px;
    line-height: 20px;
    overflow: auto;
    background: url(assets/images/environment/default/icons/16x16/options.png) no-repeat left center;
    list-style: none;

    li {
      display: inline;
    }
  }

  div.wrap_invoice_settings {
    select {
      width: 250px;
    }
  }

  div.wrap_invoice_note_and_comment {
    textarea {
      width: 99%;
      height: 130px;
    }
  }
}