<table class="calendar_navigation">
  <tr>
    <td class="prev"><a href="{$_prev_month.url}" class="calendar_navigation_item"><span class="calendar_navigation_item_inner">&laquo; {$_prev_month.label}</span></a></td>
    <td class="current"><span class="calendar_navigation_item"><span class="calendar_navigation_item_inner">{$_current_month} / {$_current_year}</span></span></td>
    <td class="next"><a href="{$_next_month.url}" class="calendar_navigation_item"><span class="calendar_navigation_item_inner">{$_next_month.label} &raquo;</span></a></td>
  </tr>
</table>